


@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';

// Colors //

$red: #F03A47;
$pearl: #EAE0CC;
$blue: #66CBCA;
$green: #9CB380;

@font-face {
    font-family: 'Bloom'; /*a name to be used later*/
    src: url('../fonts/GlossAndBloom.ttf'); /*URL to font*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Quicksand', sans-serif;
}


.row{
  margin-bottom: 0px;
}


.head{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  // background-image: url('../images/leaves.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;

}

.head::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  // background-color: rgba(21, 122, 110, 0.4);
  background-color: rgba(0, 169, 167, .6);
  // background-color: rgba(132, 169, 140, 0.4)
}


.body{
  position: relative;
  top: 100vh;
}

.name{
  font-family: 'Bloom', cursive;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 2px;
  color: white;
  z-index: 50;
}


.logo{
  margin-top: -50px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  // margin-left: -110px;
  z-index: 50;

}

.my-title{
  color: white;
  z-index: 50;
}

.about-me{
  font-size: 21px;
  line-height: 1.8em;
  margin-top: 40px;
}

@media (max-width: 1119px) {
  .about-me{
    margin-top: 20px;
  }
}

@media (max-width: 1059px) {
  .about-me{
    font-size: 19px;
    margin-top: 20px;
  }
}

@media (max-width: 974px) {
  .about-me{
    font-size: 18px;
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .about-me{
    font-size: 17px;
    margin-top: 0px;
  }
}

@media (max-width: 805px) {
  .about-me{
    font-size: 16px;
    margin-top: 0px;
  }
}

.pic-me{
  border-radius: 200px;
  max-height: 450px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.work-bar{
  // background-color: ;
}

.me-block{
  background-color: $green;
  padding: 20px 50px 50px 50px;
  color: white;
}

.proj-title{
  font-family: 'Bloom', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  margin-top: 0;
  font-size: 40px;
  letter-spacing: 3px;
  // padding: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  // padding-left: 160px;
  color: white;
}

@media (max-width: 805px) {
  .proj-title{
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    flex-flow: column-reverse;
    // justify-content: center;
    // align-items: center;
  }
}

@media (max-width: 415px) {
  .proj-title{
    font-size: 35px;
  }
}

.proj-block{
  background-color: $green;
  padding-bottom: 35px;
}

.Moxy-pic{
  margin-top: -30px;
}

.card{
  min-height: 276px;

}

.moxy-card{
  background-image: url('../images/moxy-grab.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.moxy-cap{
  visibility: hidden;
  text-align: center;
  position: absolute;
  top: 55px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: .85em;
  color: #fff;
  z-index: 2;
  transition: .3s ease;
}



.majestic-card{
  background-image: url('../images/thai-grab.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.github-card{
  background-image: url('../images/github-grab.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.etsy-card{
  background-image: url('../images/etsy-grab.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.ls-card{
  background-image: url('../images/local-sound-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.card::after{
  content: ' ';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
  margin-bottom: -4px;
  background-color: rgba(0, 169, 167, 1);
  z-index: 30;
  transition: .4s ease;
}

.card:hover::after{
  opacity: .8;
}

.card:hover{
  color: white;
  transition: .4s ease;

}


.box {
  cursor: pointer;
  height: 276px;
  position: relative;
  overflow: hidden;
  // width: 400px;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox {
  background-color: rgba(0, 169, 167, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 360px;
  height: 276px;
  padding-top: 180px;
  padding-left: 20px;
  // text-align: center;
}

.box:hover .overbox {
  opacity: 1;
}

.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
  font-size: 2.5em;
  font-family: 'Bloom', sans-serif;
  letter-spacing: 1px;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
  font-size: 1em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.contact-block{
  background-color: #EAE0CC;
  margin: 0;
  font-size: 20px;
  padding-bottom: 40px;

  a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
  }

  a:hover{
    i{
      color: #016F93;
      transition: .3s;
    }

  }

  i{
    vertical-align: middle;
    font-size: 35px;
    margin-right: 15px;
  }

  li{
    vertical-align: middle;
    margin-bottom: 20px;
  }
}

.contact-head{
  font-family: 'Bloom', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  padding-top: 20px;
  letter-spacing: 2.5px;
}

@media (max-width: 805px) {
  .contact-head{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 0px;

  }
}

@media (max-width: 415px) {
  .contact-head{
    font-size: 35px;
  }
}

.proj-tools{
  .devicons{
    font-size: 100px;
  }

}

.Moxy-detail{
  background-color: $green;
}

.Etsy-detail{
  background-color: $green;
}

.etsy-detail-pic{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}

.moxy-detail-pic{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.devicons{
  color: white;
  margin-top: 20px;
}

.description{
  margin-top: 50px;
  color: black;
  font-size: 18px;
  text-align: center;

}

.descript-row{
  background-color: $pearl;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.proj-tools > div{
  display: flex;
  justify-content: center;
}

.button-box{
  display: flex;
  justify-content: space-around;
}

.btn-floating{
  margin-top: 80px;
  background-color: $blue;

  i{
    color: #333;
  }
}

.btn-floating:hover{
  transition: .4s;
  background-color: $red;

  i{
    transition: .4s;
    color: $pearl;
  }
}

.detail-title{
  font-family: 'Bloom', sans-serif;
  // text-decoration: underline;
  color: white;
  font-size: 60px;
  // line-height: 90px;
  text-align: center;
  padding: 20px;
  // background-color: #FFFAE2;
  // margin-bottom: -30px;
}



.thai-detail-title{
  font-family: 'Bloom', sans-serif;
  // text-decoration: underline;
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 20px;
  // background-color: #FFFAE2;
  // margin-bottom: 20px;
}

@media (max-width: 650px) {
  .thai-detail-title{
    font-size: 40px;
  }

}

.Thai-detail{
  background-color: $green;
}

.thai-detail-pic{
  // border: 3px solid #E6AF2E;
  // border-radius: 10px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.Github-detail{
  background-color: $green;
}

.github-detail-title{
  font-family: 'Bloom', sans-serif;
  color: white;
  // text-decoration: underline;
  font-size: 70px;
  text-align: center;
  padding: 20px;
  // background-color: #FFFAE2;
  // margin-bottom: 20px;
}

@media (max-width: 850px) {
  .github-detail-title{
    font-size: 55px;
  }
  .detail-title{
    font-size: 55px;
  }

}

@media (max-width: 680px) {
  .github-detail-title{
    font-size: 40px;
  }
  .detail-title{
    font-size: 40px;
  }

}

@media (max-width: 500px) {
  .github-detail-title{
    font-size: 30px;
  }
  .detail-title{
    font-size: 30px;
  }

  .github-name-title{
    padding: 10px;
  }

}

.github-detail-pic{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.Sound-detail{
  background-color: $green;
  // padding-top: 30px;

  .sound-photos{
    display: flex;
    justify-content: center;
  }

  .ls-detail-pic{
    background-color: grey;
    max-height: 500px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 1170px) {
  .ls-detail-pic{
    height: 450px;
  }

}

@media (max-width: 1070px) {
  .ls-detail-pic{
    height: 450px;
  }
}

@media (max-width: 590px) {
  .ls-detail-pic{
    height: 375px;
  }

}

@media (max-width: 515px) {
  .ls-detail-pic{
    height: 325px;
  }

}

@media (max-width: 450px) {
  .ls-detail-pic{
    height: 280px;
  }

}

@media (max-width: 420px) {
  .ls-detail-pic{
    height: 250px;
  }

}




.thai-buttons .btn-floating {
  margin-top: 0;
}

// #2CA58D
// olivine: #9CB380
// red salsa: #F03A47

.toolkit-block{
  background-color: #EAE0CC;

}

.program-header{
  font-family: 'Bloom', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  letter-spacing: 2.5px;
  padding: 20px;
  margin: 0;
}

@media (max-width: 805px) {
  .program-header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    flex-direction: column;
    flex-flow: column-reverse;
    // justify-content: center;
    // align-items: center;
  }
}

@media (max-width: 415px) {
  .program-header{
    font-size: 35px;

  }
}



.toolkit-block{
  padding-bottom: 35px;

  .tool{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

  }

  .odd-tool{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }

  i{
    font-size: 120px;
    color: black;
    margin-bottom: 20px;

  }

  img{
    // max-height: 120px;
    margin-bottom: 20px;

  }
}

.me-head{
  font-family: 'Bloom', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 2.5px;
  margin-bottom: 20px;
  margin-left: -30px;
}

@media (max-width: 805px) {
  .me-head{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -50px;
    font-size: 35px;
    // justify-content: center;
    // align-items: center;
  }
}

.anchor{
  height: 140px;
  margin-right: 15px;
}

.dagger{
  // height: 140px;
  max-width: 250px;
  margin-right: 30px;
}

.razor{
  height: 140px;
  margin-right: 15px;
}

.shark{
  height: 350px;
}

.swallow{
  height: 140px;
  margin-right: 15px;
  // margin-bottom: 70px;
}

.name-title{
  // background-color: $pearl;
  color: black;
  padding: 40px 30px 0px 30px;
  // border-radius: 60px;
  margin-top: 60px;
  border-bottom: 3px solid $pearl;
  // box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 889px) {
  .github-name-title{
    padding: 10px;
  }

}

@media (max-width: 436px) {
  .name-title{
    padding: 10px;
  }

}


.palm{
  margin-top: -20px;
}

.detail-tool{
  max-height: 100px;
}

.title-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-btn{
  margin-top: 0;
}
