
@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Raleway', sans-serif;
}


////////
/// Colors
///////
// Cream #FFFAE2
// Light blue #E2FCEF

.head{
  font-family: 'Raleway', sans-serif;
  background: url('../images/desert-hills.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}

.name{
  font-family: 'Bungee';
  letter-spacing: 1.3px;
  color: white;
  margin-top: 0;
}
// body{
//   background-color: #FFFAE2;
// }

.logo{
  margin-top: 100px;
  margin-bottom: -30px;
}

.title{
  color: white;
  margin-bottom: 235px;
}

.about-me{
  font-size: 20px;
}

.work-bar{
  // background-color: ;
}
